<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="com.schinkowitch.cordova.facebook" version="0.1.0">
        <engines>
    		<engine name="cordova" version=">=3.1.0" />  		
		</engines>    
        <name>Facebook</name>
        <description>Facebook Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,facebook</keywords>
        <repo>https://github.com/schinkowitch/FacebookPlugin.git</repo>
        <js-module src="www/facebook_plugin.js" name="Facebook">
            <clobbers target="Facebook" />
        </js-module>
        <!-- android -->
	    <platform name="android">
    	    <config-file target="res/xml/config.xml" parent="/*">
        	    <feature name="Facebook" >
            	    <param name="android-package" value="com.schinkowitch.cordova.facebook.FacebookPlugin"/>
            	</feature>
        	</config-file>

        	<source-file src="src/android/FacebookPlugin.java" target-dir="src/com/schinkowitch/cordova/facebook" />
    	</platform>
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="Facebook">
                    <param name="ios-package" value="CDVFacebookPlugin"/>
                </feature>
            </config-file>
         	<header-file src="src/ios/CDVFacebookPlugin.h" />
            <source-file src="src/ios/CDVFacebookPlugin.m" />
        </platform>
    </plugin>